* {
    padding : 0;
    margin : 0;
}

body {
    display : flex;
    /* justify-content : center; */
}

.box {
    position : relative;
    width : 500px;
    height : 500px;
    background-color : gray;
    
}

.smallbox {
    width : 150px;
    height : 150px;
    background-color :aquamarine;
    position : absolute;
    position : relative;
    /* left : 550px; */
}