<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
</head>
<body>
    <h1>There are <%= data[0].count %> no. of users who's trust Us</h1>
    <a href="/user">see users info...</a>
    <h3>Welcome to join Our FAMILY</h3>
</body>
</html>